.contacto {
    background-color: #C4C4C4!important;
    border-color: #C4C4C4!important;
    color: black!important; 

}

.login {
    background-color: #830000!important;
    border-color: #830000!important;
    color: white!important; 
}